<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Poli Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="credentialForm" >
    <!-- Ingreso de correo electrónico -->
    <ion-item>
      <ion-input placeholder="Correo electrónico" formControlName="email" autofocus = "true" clearInput="true" ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required"> El correo no pueda estar vacío</span>
      <span *ngIf="email.errors?.email"> Introduzca un email válido </span>
    </div>

    <!-- Ingreso de la contraseña -->
    <ion-item>
      <ion-input placeholder="Contraseña" type="password" formControlName="password" clearInput="true" ></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required"> Introduzca la contraseña </span>
      <span *ngIf="password.errors?.minlength"> Debe introducir al menos 6 caracteres en su contraseña </span>
    </div>

  </form>
  
  <!-- Invocacion de metodos registro e inicio de sesion -->
  <ion-button (click)="signUp()" expand="full" >Registrarse</ion-button>
  <ion-button (click)="signIn()" expand="full" color="secondary" >Iniciar Sesión</ion-button>
</ion-content>
